#create_project{
    width: 83%;
    background-color: white;
    height: 850px;
    position: absolute;
    z-index: 1;
 
    top:16%;
    left: 10%;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#create_project_project{
    width: 100%;
    background-color: black;
    height: 1000px;
}

#create_project_project_container{

    width: 90%;
    margin: auto;
    height: 1000px;
    background-color: rgb(239, 244, 248);

}
#headercreateP_p{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    z-index: 1;
    top: 2%;
    left: 10%;
    color: white;
}

#create_project_child{
    width: 95%;
    
    height: 80px;
    margin: auto;
    margin-top: 3%;
    border-radius: 10px;
    display: flex;
}
#create_project_child1{
width: 60%;
height: 100%;
border: 1px solid gray;
border-radius: 10px;
}
#create_project_child1 input{
    width: 95%;
    height: 95%;
    outline: none;
    border-radius: 10px;
    border: none;
    font-size: 17px;
}
#create_project_child1 p,.input_error{
    color: rgb(243, 76, 76);
    text-align: left;
    margin-top:2px;
}
#create_project_child2{
    width: 40%;
    text-align: right;
    border-radius: 10px;
}
#create_project_child2 button{
    
    margin-right:10px ;
    width: 150px;
    height: 35px;
    border-radius: 50px;
    color: rgb(229, 233, 235);
    background-color: #2e65c2;
    border: 1px solid #2e65c2;
    font-size: 15px;
}
#create_project_child_two{
    width: 87%;
    height: auto;
    margin-top: 3%;
    margin-left: 15px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.label{
    color: rgb(156, 164, 171);
    text-align: left;
    margin: auto;
    width: 90%;
    margin-top: -12px;
    }
    .label p{
        font-weight: 500;
        font-size: 14px;
    }
    .label select{
        margin-top: -10px;
        width: 100%;
        height: 50px;
        padding: 10px;
        border-radius: 7px;
        font-size: 15px;
        color:rgb(77, 78, 80);
    }
    .lable_input{
        margin-top: -10px;
        width: 93%;
        height: 30px;
        padding: 10px;
        border-radius: 7px;
        font-size: 15px;
        color:rgb(77, 78, 80);
        border: 1px solid rgb(77, 78, 80);;
    }
    
