#Mobcreatep{
    width:90%;
    margin: auto;
    height: auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
    margin-bottom: 200px;
    padding-bottom: 20px;
}
#Mobcreatep_child1{
    text-align: left;
    width: 87%;
    margin: auto;
    margin-top: 70px;
}
#Mobcreatep_child1 input{
    width: 99%;
    height: 70px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgb(108, 106, 106);
    font-size: 16px;
    padding: 0px 0px 0px 10px;
}
.Mobcreatep_child2{
    color: rgb(156, 164, 171);
    text-align: left;
    margin: auto;
    width: 87%;
}
.Mobcreatep_child2 select{
    margin-top: -10px;
        width: 100%;
        height: 50px;
        padding: 10px;
        border-radius: 7px;
        font-size: 15px;
        color:rgb(77, 78, 80);
}
#Mobcreatep_child2_button{
    margin-right:10px ;
    margin: auto;
    width: 80%;
    height: 35px;
    border-radius: 50px;
    color: rgb(229, 233, 235);
    background-color: #2e65c2;
    border: 1px solid #2e65c2;
    font-size: 15px;
}

option{
    padding: 0%;
    font-size: 10px;
    width:10px;
}
#Mobcreatep_child2_button button{
    margin-right:10px ;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    color: rgb(229, 233, 235);
    background-color: #2e65c2;
    border: 1px solid #2e65c2;
    font-size: 15px;
}