

.MobPL{
    width:90%;
    margin: auto;
    height: 1200px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
    margin-top: 120px;
    margin-bottom: 200px;
    padding-bottom: 20px;
}