#NavAndFootbar{
    width:98%;
    border: 1px solid gray;
    height: auto;
    margin: auto;
}

#Nav{
    width: 100%;
    height: auto;
    
    position: fixed;
    z-index: 1;
}
#Nav img{
    width: 100%;
}
#NavAndFootbar_img{
    margin-left: -7px;
}
#NavAndFootbar_div{
    width: 88%;
    height: auto;
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 1;
    top:-3px;
    color: white;
    left: 25px;
}
#NavAndFootbar_div div:nth-child(1){
    width: 70%;
    text-align: left;
}
#NavAndFootbar_div div:nth-child(2){
    width: 30%;
}
#NavAndFootbar_p{
    font-size: 14px;
    font-weight: 500;
}
#NavAndFootbar_logout img{
    width: 25%;
    margin-top: 10px;
    
}

#footer{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius:30px 30px 0px 0px;
    width: 99.6%;
    height: 80px;
    position: fixed;
    z-index: 1;
    clear:both;
    bottom:0;
    background-color: white;
}

#footer_child{
    width: 100%;
    border-radius:30px 30px 0px 0px;
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: space-evenly;
}
.footer_child1_div{
    margin: auto;
}