#create_project{
    width: 83%;
    background-color: white;
    height: auto;
    position: absolute;
    z-index: 1;
 
    top:16%;
    left: 10%;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#project_list{
    width: 100%;
    background-color: black;
    height: auto;
}

#project_list_container{
    width: 90%;
    margin: auto;
    height: 1150px;
    background-color: rgb(239, 244, 248);

}
#headerProjectL_p{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    z-index: 1;
    top: 2%;
    left: 10%;
    color: white;
}

#filter_sort{
    border-radius: 10px;
   
    display: flex;
    justify-content: space-around;
    height: 60px;
}
#filter_sort div{
    width: 50%;
}
#sort_div{
    display: flex;
    justify-content: right;
    border-radius: 10px;
}
#sort_div p{
    color: rgb(156, 164, 171);
    width: 16%;
    margin-top: 2.5%;
    font-size: 18px;
}
@media only screen and (max-width: 1287px){
    #sort_div p{
        margin-top: 3%;
    }
}
#sort{
    width: 12%;
    font-size: 16px;
    border: none;
    margin-right: 12%;
    outline: none;
}
#filter_div{
    text-align: left;
    border-radius: 10px;
}
#filter_div input{
    width: 40%;
    height: 60%;
    margin-top: 1%;
    font-size: 18px;
    outline: none;
    border:none;
    margin-left: 1%;
    border-bottom: 1px solid gray;
}
#filter_svg{
    margin-left: 3%;
}
#cancle_filter{
    font-size: 16px;
    border: none;
    outline: none;
    background-color: white;
}
#table_div{
    margin-top: 2%;
    width: 100%;
}
#table_div table{
    width: 100%;
}

#start{
    color: white;
    background-color:#2e65c2 ;
    border: 1px solid #2e65c2;
    width:100%;
    height: 25px;
    border-radius: 30px;
}
#close{
    width:80%;
    color: #2e65c2;
    border: 1px solid #2e65c2;
    height: 25px;
    border-radius: 30px;
}
#cancle{
    width:80%;
    color: #2e65c2;
    border: 1px solid #2e65c2;
    height: 25px;
    border-radius: 30px;
}
table {
    border-collapse: collapse;
    text-align: center;
}
#table_first_row{
    background-color: rgb(235, 248, 248);
    height: 40px;
    color: rgb(107, 106, 106);
}
.trRow {
    border-bottom: 1px solid gray;
    height: 80px;
}
#pagination{
    width: 20%;
    margin: auto;
    margin-top: 2%;
}
#pagination button{
    margin-left: 20px;
    padding: 2px 15px;
    font-size: 16px;
    font-weight: 500;
}
#pagination button:nth-child(2){
    border: none;
    background-color: white;
}