#create_p_lap{
    display: block;
}
#create_p_mob{
    display: none;
}
@media only screen and (max-width: 600px) {
    #create_p_lap{
        display: none;
    }
    #create_p_mob{
        display: block;
    }
}
